html {
    body {
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }

        header.header-section {
            .member-info-dropdown {
                float: right;
                font-size: 14px;
                display: inline-block;
                padding-left: 20px;
                border-left: 1px solid #e5e5e5;
                padding-top: 18px;
                padding-bottom: 15px;
                #dropdownMenuLink {
                    color: #0b0b0b;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .advanced-search .custom_input-group {
                max-width: initial;
                width: 100%;
            }
        }
    }
}
